.activationRange {
  position: absolute;
  left: 0;
  top: 0;

  translate: calc(var(--x) * var(--tile-size) - 1px)
    calc(var(--y) * var(--tile-size) - 1px);
  transition: translate 100ms;

  width: calc(var(--tile-size) * var(--max-range) * 2);
  height: calc(var(--tile-size) * var(--max-range) * 2);
  transform: translateX(-50%) translateY(-50%);
  background: radial-gradient(transparent, #fff0 65%, #fffb 70%);
  border-radius: 50%;
}
.minRange::before {
  content: "";
  display: block;
  width: calc(var(--tile-size) * var(--min-range) * 2);
  height: calc(var(--tile-size) * var(--min-range) * 2);
  transform: translateX(
      calc(var(--tile-size) * (var(--max-range) - var(--min-range)))
    )
    translateY(calc(var(--tile-size) * (var(--max-range) - var(--min-range))));

  background: radial-gradient(transparent, #f000 65%, #f00b 70%);
  border-radius: 50%;
}
