.ground {
  position: absolute;
  left: 0;
  top: 0;

  translate: calc(var(--x) * var(--tile-size) - 1px)
    calc(var(--y) * var(--tile-size) - 1px);
  transition: translate 100ms;
  width: calc(var(--tile-size) * var(--size) + 1px);
  height: calc(var(--tile-size) * var(--size) + 1px);
  padding: 0;
  display: grid;
  pointer-events: none;
  user-select: none;
}

.selected {
  background-color: #ff0a;
  z-index: 1;
}

.overlapping {
  background-color: #f44a;
  z-index: 1;
}

.building {
  pointer-events: none;
  user-select: none;
  font-size: 8px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;

  box-shadow: #000 1px 1px 0px;
  cursor: default;

  margin: calc((var(--size) + var(--size)) * 1px - 1px)
    calc((var(--size) + var(--size)) * 1px)
    calc((var(--size) + var(--size)) * 1px)
    calc((var(--size) + var(--size)) * 1px - 1px);
}

.selected .building {
  outline: 4px solid #ff0a;
}

.building.size1 {
  margin: 0;
}

.attacking {
  animation: attackBuilding 300ms alternate infinite;
}

.overlapping.building {
  animation: overlapBuilding 1600ms alternate infinite;
}

.building.destroyed {
  background-color: #777;
  opacity: 0.3;
  border: 2px dotted #888;
  box-shadow: none;
  animation: none;
}

@keyframes attackBuilding {
  0% {
    border: 1px solid black;
    box-shadow: #000 1px 1px 0px, inset 0px 0px 0px black;
  }
  100% {
    border: 1px solid red;
    box-shadow: #000 1px 1px 0px, inset 0px 0px 4px red;
  }
}

@keyframes overlapBuilding {
  0% {
    border: 1px solid black;
    box-shadow: #000 1px 1px 0px, inset 0px 0px 0px black;
  }
  100% {
    border: 1px solid red;
    box-shadow: #000 1px 1px 0px, inset 0px 0px 1rem red;
  }
}

.elixirstorage,
.elixircollector {
  background-color: pink;
}
.goldmine,
.goldstorage {
  background-color: gold;
}
.townhall {
  background-color: #90ff90;
}
.cannon,
.mortar,
.archertower,
.airdefense {
  background-color: #ffaaaa;
}
.wall {
  background-color: #999;
}
.wall-0 {
  background-color: #99f;
  opacity: 0.3;
}
.bomb {
  background-color: #444;
}
