:root {
  --tile-size: 15px;
}

.building {
  font-size: 8px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;

  left: calc((var(--x) + 3) * var(--tile-size) - 1px);
  top: calc((var(--y) + 3) * var(--tile-size) - 1px);
  box-shadow: #000 1px 1px 0px;
  cursor: default;
}

.building.size1 {
  width: calc(var(--tile-size) + 1px);
  height: calc(var(--tile-size) + 1px);
}
.building.size2 {
  left: calc((var(--x) + 3) * var(--tile-size) + 3px);
  top: calc((var(--y) + 3) * var(--tile-size) + 3px);
  width: calc(var(--tile-size) * 2 - 6px);
  height: calc(var(--tile-size) * 2 - 6px);
}
.building.size3 {
  left: calc((var(--x) + 3) * var(--tile-size) + 3px);
  top: calc((var(--y) + 3) * var(--tile-size) + 3px);
  width: calc(var(--tile-size) * 3 - 6px);
  height: calc(var(--tile-size) * 3 - 6px);
}
.building.size4 {
  left: calc((var(--x) + 3) * var(--tile-size) + 3px);
  top: calc((var(--y) + 3) * var(--tile-size) + 3px);
  width: calc(var(--tile-size) * 4 - 6px);
  height: calc(var(--tile-size) * 4 - 6px);
}

.attacking {
  animation: attackBuilding 300ms alternate infinite;
}

.building.destroyed {
  background-color: #777;
  opacity: 0.3;
  border: 2px dotted #888;
  box-shadow: none;
  animation: none;
}

@keyframes attackBuilding {
  0% {
    border: 1px solid black;
    box-shadow: #000 1px 1px 0px, inset 0px 0px 0px black;
  }
  100% {
    border: 1px solid red;
    box-shadow: #000 1px 1px 0px, inset 0px 0px 4px red;
  }
}

.elixirstorage,
.elixircollector {
  background-color: pink;
}
.goldmine,
.goldstorage {
  background-color: gold;
}
.townhall {
  background-color: #90ff90;
}
.cannon,
.mortar,
.archertower,
.airdefense {
  background-color: #ffaaaa;
}
.wall {
  background-color: #999;
}
