.scrollContainer {
  height: 100dvh;
  width: 100dvw;
  background-color: #667120;
  overflow: hidden;
  overscroll-behavior: contain;
  --tile-size: 15px;
}
.scrollable {
  overflow: scroll;
}

.rotationContainer {
  transform-origin: 0 0;
  scale: 1.5 1;
  width: max-content;
  height: max-content;
  padding: calc(9em + 9em) calc((9em + 9em) * 0.8);
}

.grid {
  background: repeating-conic-gradient(#aab841 0% 25%, #99af47 0% 50%) 50% /
    calc(2 * var(--tile-size)) calc(2 * var(--tile-size));
  background-position: calc(var(--tile-size) * 3) calc(var(--tile-size) * 3);
  background-clip: content-box;
  padding: calc(var(--tile-size) * 3);
  background-color: #acbe4a;

  position: relative;
}

.tilted {
  width: max-content;
  height: max-content;
  background-color: #7f9e3a;
  transform-origin: center;
  rotate: 45deg;
}
