.outline {
  left: 0;
  top: 0;
  translate: calc((var(--x) - 1) * var(--tile-size) - 1px)
    calc((var(--y) - 1) * var(--tile-size) - 1px);
  transition: translate 100ms;
}
.size1 {
  width: calc(var(--tile-size) * 3 + 1px);
  height: calc(var(--tile-size) * 3 + 1px);
}
.size2 {
  width: calc(var(--tile-size) * 4 + 1px);
  height: calc(var(--tile-size) * 4 + 1px);
}
.size3 {
  width: calc(var(--tile-size) * 5 + 1px);
  height: calc(var(--tile-size) * 5 + 1px);
}
.size4 {
  width: calc(var(--tile-size) * 6 + 1px);
  height: calc(var(--tile-size) * 6 + 1px);
}
.outlineBox {
  translate: calc(var(--tile-size) * -3) calc(var(--tile-size) * -3);
}
.dark .outline {
  background-color: white;
}
.light .outline {
  background-color: #0f0f0f;
}
.dark {
  filter: drop-shadow(0px 0px 1px black);
  mix-blend-mode: darken;
}
.light {
  filter: drop-shadow(0px 0px 1px white);
  mix-blend-mode: plus-lighter;
}
