:root {
  --tile-size: 15px;
}

.unit {
  font-size: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50%;
}
.unit.barbarian {
  background-color: yellow;
  translate: -2.5px -2.5px;
}
.unit.archer {
  background-color: pink;
  translate: -2.5px -2.5px;
}
.unit.giant {
  background-color: red;
  translate: -2.5px -2.5px;
  scale: 1.5;
}
.unit.goblin {
  background-color: green;
  translate: -2.5px -2.5px;
  scale: 0.8;
}
.unit.attacking {
  animation: attack 450ms alternate infinite;
}

.dead {
  opacity: 0.3;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #777;
  rotate: -45deg;
}

@keyframes attack {
  0% {
    width: 5px;
    height: 5px;
    translate: -2.5px -2.5px;
  }
  100% {
    width: 6px;
    height: 6px;
    translate: -3px -3px;
  }
}
