.ArmyTray_armyTray__FXipA {
  overflow-y: hidden;
  overflow-x: auto;
  padding: 0 0.25rem;
}

.ArmyTray_darkOverlay__2-5o4 {
  background-color: #0006;
  border-top: 1px solid #aaa;
  padding: 0 max(1rem, env(safe-area-inset-right))
    calc(env(safe-area-inset-bottom));
  width: 100%;
}
.ArmyTray_darkOverlay__2-5o4 .ArmyTray_scrollArea__aS\+GD {
  margin: 0 auto;
}

.ArmyTray_scrollArea__aS\+GD {
  display: grid;
  height: 100%;
  width: -webkit-max-content;
  width: max-content;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

.Group_group__DI3f6 {
  display: grid;
  grid-auto-columns: var(--width);
  grid-template-rows: repeat(var(--rows), 1fr);
  /* padding: 0.25rem 0 max(0.25rem, env(safe-area-inset-right, 0.25rem)) 0; */
  padding: 0.25rem 0;

  width: -webkit-max-content;

  width: max-content;
  grid-auto-flow: column;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.UnitButton_unit__r93h7 {
  border-radius: 0.5rem;
  height: var(--control-size-default);
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr;
  padding: 0;
  scale: 1;
  background-color: color-mix(in hsl, var(--base-color) 80%, black);
  transition: scale 50ms ease-in-out;
}
.UnitButton_unit__r93h7:has(.UnitButton_amounts__fpO3p) {
  height: var(--control-size-large);
  grid-template-rows: 1.25em 1fr;
}
.UnitButton_unit__r93h7:has(.UnitButton_size__lAtvD) {
  height: var(--control-size-large);
  grid-template-rows: 1fr;
}

.UnitButton_unit__r93h7.UnitButton_selected__jL\+i\+ {
  border: 1px solid white;
  scale: 1.1;
}

.UnitButton_amounts__fpO3p {
  border-radius: 0.5rem;
  border-top: 1px solid color-mix(in hsl, var(--base-color) 60%, white);
  background: color-mix(in srgb, var(--base-color) 90%, white)
    linear-gradient(
      to bottom,
      transparent 0%,
      color-mix(in srgb, var(--base-color) 90%, black) 100%
    );
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: white;
  text-shadow: 0 2px 0 #000;
  text-align: right;
  padding-right: 0.3rem;
}
.UnitButton_hidden__xA9p6 {
  display: none;
}

.UnitButton_portraitBox__bzTsd {
  height: 100%;
  box-sizing: border-box;
  padding: 3px 3px 4px 3px;
  background: var(--base-color);
  border-bottom: 2px solid color-mix(in hsl, var(--base-color) 70%, black);
  border-radius: 0.5rem;
}
.UnitButton_unit__r93h7:has(.UnitButton_amounts__fpO3p) .UnitButton_portraitBox__bzTsd {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid color-mix(in hsl, var(--base-color) 80%, white);
}

.UnitButton_portrait__basiw {
  height: 100%;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.5rem;
  color: white;
  text-shadow: 0 1px 0 #000;
  text-transform: capitalize;
  position: relative;
  word-break: break-all;
  line-height: 0.6rem;
}

.UnitButton_level__d\+Z-J {
  position: absolute;
  bottom: 1px;
  left: 1px;

  font-weight: normal;
  font-size: var(--control-size-tiny);
  line-height: var(--control-size-tiny);
  background-color: #333;
  border: 1px solid black;
  box-shadow: 0 0 2px 0 white;
  border-radius: 3px;
  width: var(--control-size-tiny);
  height: var(--control-size-tiny);
}
.UnitButton_unit__r93h7:has(.UnitButton_size__lAtvD) .UnitButton_level__d\+Z-J {
  bottom: calc(1px + var(--control-size-mini));
}

.UnitButton_child__9AN2T {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.UnitButton_unit__r93h7:has(.UnitButton_size__lAtvD) .UnitButton_child__9AN2T {
  bottom: var(--control-size-mini);
}

.UnitButton_size__lAtvD {
  position: absolute;
  bottom: 5px;
  left: 3px;
  right: 3px;
  height: 0.8rem;

  border-top: 1px solid color-mix(in hsl, var(--base-color) 60%, white);
  background: #fff8;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: white;
  text-shadow: 0 2px 0 #000, 0 0 2px #0009;
  text-align: center;
  padding-right: 0.3rem;
}
.UnitButton_unit__r93h7:disabled {
  -webkit-filter: grayscale(1) brightness(70%);
          filter: grayscale(1) brightness(70%);
}

.UnitButton_jump__NczqY {
  -webkit-animation: ease-in-out 200ms UnitButton_jump__NczqY;
          animation: ease-in-out 200ms UnitButton_jump__NczqY;
}

@-webkit-keyframes UnitButton_jump__NczqY {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -1.5rem;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes UnitButton_jump__NczqY {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -1.5rem;
  }
  100% {
    translate: 0 0;
  }
}

.UnitButton_buttonLayout__rjNYT {
  display: grid;
  position: relative;
}

.UnitButton_buttonLayout__rjNYT > :nth-child(2) {
  position: absolute;
  bottom: 0.5rem;
  right: 0.25rem;
}

.UnitButton_buttonLayout__rjNYT.UnitButton_buttonLayoutBottom__zzsTP > :nth-child(2) {
  bottom: 1.25rem;
}


/*# sourceMappingURL=ui-components-composition-ArmyTray-ArmyTray-stories.cc1ea018.chunk.css.map*/