.Dialog_dimmer__qOlqL {
  background-color: #0006;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation: Dialog_fadeIn__2Qmeg 200ms ease-out;
          animation: Dialog_fadeIn__2Qmeg 200ms ease-out;
}
.Dialog_close__Aj8L2 {
  -webkit-animation: Dialog_fadeOut__6IHKb 200ms ease-out forwards;
          animation: Dialog_fadeOut__6IHKb 200ms ease-out forwards;
}

.Dialog_dialog__D8YaD {
  background-color: #444;
  padding: 2px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  -webkit-animation: Dialog_popIn__BunBT 150ms ease-out;
          animation: Dialog_popIn__BunBT 150ms ease-out;
  box-shadow: 0 3px 0 #0003;
}
.Dialog_close__Aj8L2 .Dialog_dialog__D8YaD {
  -webkit-animation: Dialog_popOut__Y87sz 150ms ease-out forwards;
          animation: Dialog_popOut__Y87sz 150ms ease-out forwards;
}

.Dialog_dialogHeader__wiZZI {
  padding: 0 0.25rem;
  min-width: 10rem;
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.25rem;
  gap: 0.25rem;
  align-items: center;
  position: relative;
  min-height: calc(var(--control-size-small) + 0.25rem);
}

.Dialog_dialogHeader__wiZZI::before {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background-color: #fff2;
  height: 50%;
  border-radius: 0.5rem;
  pointer-events: none;
}

.Dialog_dialogBody__u98jY {
  background-color: lightgray;
  padding: 0.25rem;
  border-radius: 0.5rem;
  flex: 1 1 auto;
}

@-webkit-keyframes Dialog_fadeIn__2Qmeg {
  0% {
    background-color: #0000;
  }
  100% {
    background-color: #0006;
  }
}

@keyframes Dialog_fadeIn__2Qmeg {
  0% {
    background-color: #0000;
  }
  100% {
    background-color: #0006;
  }
}

@-webkit-keyframes Dialog_fadeOut__6IHKb {
  100% {
    background-color: #0000;
  }
  0% {
    background-color: #0006;
  }
}

@keyframes Dialog_fadeOut__6IHKb {
  100% {
    background-color: #0000;
  }
  0% {
    background-color: #0006;
  }
}

@-webkit-keyframes Dialog_popIn__BunBT {
  0% {
    opacity: 0%;
    scale: 0.9;
  }
  40% {
    opacity: 100%;
    scale: 1.05;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

@keyframes Dialog_popIn__BunBT {
  0% {
    opacity: 0%;
    scale: 0.9;
  }
  40% {
    opacity: 100%;
    scale: 1.05;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

@-webkit-keyframes Dialog_popOut__Y87sz {
  100% {
    opacity: 0%;
    scale: 0.9;
  }
  60% {
    opacity: 100%;
    scale: 1.05;
  }
  0% {
    opacity: 100%;
    scale: 1;
  }
}

@keyframes Dialog_popOut__Y87sz {
  100% {
    opacity: 0%;
    scale: 0.9;
  }
  60% {
    opacity: 100%;
    scale: 1.05;
  }
  0% {
    opacity: 100%;
    scale: 1;
  }
}

.Button_button__d3Ync {
  padding: 0;
  display: inline-block;
  border: none;
  background: transparent;
}

button:active:enabled .Button_outer__Zd-2h {
  scale: 0.95;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.Button_outer__Zd-2h {
  transition: scale 50ms;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  height: calc(100% - 2px);
  background-color: color-mix(in srgb, var(--color) 80%, transparent);
  display: flex;
}

.Button_inner__FQgg0 {
  position: relative;
  border-radius: 5px;
  border-top: 1px solid color-mix(in hsl, var(--color) 40%, white);
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid color-mix(in hsl, var(--color) 70%, black);
  background: linear-gradient(
    180deg,
    /* #ffffff33 0%,
    #ffffff33 20%,
    #ffffff66 53%, */ transparent 53%,
    transparent 80%,
    #00000033 100%
  );

  font-family: "Sriracha", cursive;
  font-weight: bold;
  text-shadow: 0 2px 0 #000, 1px -1px 0 #0002;
}

.Button_inner__FQgg0::before {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background-color: #fff4;
  height: 50%;
  border-radius: 0.5rem;
  pointer-events: none;
}

.Button_smallWidth__6Au\+0 {
  width: var(--control-size-small);
}
.Button_smallHeight__2-ayX {
  height: var(--control-size-small);

  font-size: 0.6rem;
}
.Button_smallHeight__2-ayX .Button_inner__FQgg0 {
  text-shadow: 0 1px 0 #000;
}

.Button_defaultWidth__YbRjm {
  width: var(--control-size-default);
}
.Button_defaultHeight__z37An {
  height: var(--control-size-default);
}
.Button_largeWidth__85zGu {
  width: var(--control-size-large);
}
.Button_largeHeight__C1xRJ {
  height: var(--control-size-large);
}
.Button_hugeWidth__Uzr0G {
  width: var(--control-size-huge);
}
.Button_hugeHeight__RXekj {
  height: var(--control-size-huge);
  padding: 0.5rem;
  font-size: 1rem;
}

.Button_button__d3Ync:disabled {
  -webkit-filter: grayscale(1) brightness(70%);
          filter: grayscale(1) brightness(70%);
  opacity: 50%;
}

.Button_pressed__8kIHu .Button_inner__FQgg0 {
  box-sizing: border-box;
  height: 100%;
  border-bottom: 1px solid color-mix(in hsl, var(--color) 40%, white);

  border-top: 2px solid color-mix(in hsl, var(--color) 70%, black);
  background: linear-gradient(
    180deg,
    #00000013 0%,
    #00000023 53%,
    #00000023 73%,
    #00000043 100%
  );
  padding-left: 2px;
}

.Button_pressed__8kIHu .Button_inner__FQgg0::before {
  background-color: transparent;
}

.Text_text__uZi1L {
  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 0.8rem;

  color: white;
  text-shadow: 0 2px 0 #000;
  margin: 0;
}

.Text_small__TyVhb {
  font-size: 0.6rem;
  text-shadow: 0 1px 0 #000;
}

.DialogTitle_dialogTitle__kmpNd {
  width: 100%;
  text-align: center;
}


/*# sourceMappingURL=ui-components-atoms-Dialog-stories.49523534.chunk.css.map*/