.armyTray {
  height: calc(
    var(--control-size-large) + env(safe-area-inset-bottom) + 0.5rem
  );
  width: 100%;
  background-color: #0006;
  border-top: 1px solid #aaa;
  overflow-y: hidden;
  overflow-x: auto;
}

.scrollArea {
  margin: 0 auto;
  padding: 0 max(1rem, env(safe-area-inset-right));
  display: grid;
  height: 100%;
  width: max-content;
  grid-auto-flow: column;
  gap: 1.5rem;
}
