.unit {
  border-radius: 0.5rem;
  height: 4.5rem;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1.25em 1fr;
  padding: 0;
  scale: 1;
  background-color: color-mix(in hsl, var(--base-color) 80%, black);
  transition: scale 50ms ease-in-out;
}

.unit.selected {
  border: 1px solid white;
  scale: 1.1;
}

.amounts {
  border-radius: 0.5rem;
  border-top: 1px solid color-mix(in hsl, var(--base-color) 60%, white);
  background: color-mix(in srgb, var(--base-color) 90%, white)
    linear-gradient(
      to bottom,
      transparent 0%,
      color-mix(in srgb, var(--base-color) 90%, black) 100%
    );
  height: stretch;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: white;
  text-shadow: 0 2px 0 #000;
  text-align: right;
  padding-right: 0.8rem;
}

.portraitBox {
  height: 100%;
  box-sizing: border-box;
  padding: 3px 3px 4px 3px;
  border-top: 1px solid color-mix(in hsl, var(--base-color) 80%, white);
  background: var(--base-color);
  border-bottom: 2px solid color-mix(in hsl, var(--base-color) 70%, black);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.portrait {
  height: 100%;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.5rem;
  color: white;
  text-shadow: 0 1px 0 #000;
  text-transform: capitalize;
  position: relative;
  word-break: break-all;
  line-height: 0.6rem;
}

.level {
  position: absolute;
  bottom: 2px;
  left: 2px;

  font-weight: normal;
  font-size: 0.6rem;
  line-height: 0.8rem;
  background-color: #333;
  border: 1px solid black;
  box-shadow: 0 0 2px 0 white;
  border-radius: 5px;
  width: 0.8rem;
  height: 0.8rem;
}

.unit:disabled {
  filter: grayscale(1) brightness(70%);
}
