.unit {
  border-radius: 0.75rem;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 2em 1fr;
  padding: 0;
  scale: 1;
  background-color: #337;
  transition: scale 200ms ease-in-out;
}

.unit.selected {
  border: 1px solid white;
  scale: 1.15;
}

.amounts {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-top: 2px solid #99e;
  background: #66a linear-gradient(to bottom, transparent 0%, #448 100%);
  height: stretch;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.3rem;
  color: white;
  text-shadow: 0 2px 0 #000;
  text-align: right;
  padding-right: 0.8rem;
}

.portraitBox {
  height: stretch;
  box-sizing: border-box;
  padding: 5px 5px 7px 5px;
  border-top: 1px solid #aaf;
  background: #88c;
  border-bottom: 4px solid #337;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.portrait {
  height: 100%;

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-shadow: 0 2px 0 #000;
  position: relative;
}

.level {
  position: absolute;
  bottom: 2px;
  left: 2px;

  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2rem;
  background-color: #333;
  border: 1px solid black;
  box-shadow: 0 0 2px 0 white;
  border-radius: 5px;
  width: 1.2rem;
  height: 1.2rem;
}

.unit:disabled {
  filter: grayscale(1) brightness(70%);
}
