.combat {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
}

.timer {
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100vw;
}

.destruction {
  position: fixed;
  bottom: 7rem;
  right: 1rem;
}
