.scrollContainer {
  height: 100vh;
  width: 100vw;
  background-color: #597917;
  overflow: scroll;
}

.rotationContainer {
  padding: calc(9em + 9em);
}

.grid {
  --tile-size: 15px;
  background: repeating-conic-gradient(#acbe4a 0% 25%, #8b9f39 0% 50%) 50% /
    calc(2 * var(--tile-size)) calc(2 * var(--tile-size));
  background-position: calc(var(--tile-size) * 3) calc(var(--tile-size) * 3);
  background-clip: content-box;
  padding: calc(var(--tile-size) * 3);
  background-color: #acbe4a;

  position: relative;
}

.tilted {
  width: max-content;
  height: max-content;
  background-color: #698532;
  rotate: 45deg;
}

.building {
  font-size: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: white;
}
.building.resource {
  background-color: #ff9090;
}
.building.resource.townhall {
  background-color: #90ff90;
}

.building.destroyed {
  background-color: #777;
  opacity: 0.3;
  border: 2px dotted #888;
}

.unit {
  font-size: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: white;
  border-radius: 50%;
}
.unit.barbarian {
  background-color: yellow;
}
.unit.archer {
  background-color: pink;
}
.attacking {
  animation: attack 200ms alternate infinite;
}

.dead {
  opacity: 0.3;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #777;
  rotate: -45deg;
}

@keyframes attack {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.3;
  }
}
