.badgeContainer {
  display: inline-flex;
  position: relative;
}
.badge {
  background-color: var(--badge-color, red);
  border-radius: 0.9rem;
  padding: 0.2rem;
  position: absolute;
  color: white;
  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 0.8rem;
  top: 0;
  right: 0;
  min-width: 0.5rem;
  min-height: 0.5rem;
  translate: 0.5rem -0.5rem;
}
