.button {
  margin: 1rem;
  padding: 0;
  display: inline-block;
  border: none;
  background: transparent;
}

button:active .outer {
  scale: 0.9;
  filter: brightness(130%);
}

.outer {
  padding: 1px 0 0 0;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  height: 100%;
  background-color: color-mix(in srgb, var(--color) 80%, transparent);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.inner {
  border-radius: 5px;
  border-top: 1px solid color-mix(in hsl, var(--color) 40%, white);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid color-mix(in hsl, var(--color) 70%, black);
  background: linear-gradient(
    180deg,
    #ffffff33 0%,
    #ffffff33 20%,
    #ffffff66 53%,
    transparent 53%,
    transparent 80%,
    #00000033 100%
  );

  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 2px 0 #000, 1px -1px 0 #0002;
}

.square {
  width: 5rem;
  aspect-ratio: 1;
}

.button:disabled {
  filter: grayscale(1) brightness(70%);
}
