.button {
  padding: 0;
  display: inline-block;
  border: none;
  pointer-events: all;
  background: transparent;
}

button:active:enabled .outer {
  scale: 0.95;
  filter: brightness(130%);
}

.outer {
  transition: scale 50ms;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 1px solid black;
  height: calc(100% - 2px);
  background-color: color-mix(in srgb, var(--color) 80%, transparent);
  display: flex;
}

.inner {
  position: relative;
  border-radius: 5px;
  border-top: 1px solid color-mix(in hsl, var(--color) 40%, white);
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid color-mix(in hsl, var(--color) 70%, black);
  background: linear-gradient(
    180deg,
    /* #ffffff33 0%,
    #ffffff33 20%,
    #ffffff66 53%, */ transparent 53%,
    transparent 80%,
    #00000033 100%
  );

  font-family: "Sriracha", cursive;
  font-weight: bold;
  text-shadow: 0 2px 0 #000, 1px -1px 0 #0002;
}

.inner::before {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background-color: #fff4;
  height: 50%;
  border-radius: 0.5rem;
  pointer-events: none;
}

.smallWidth {
  width: var(--control-size-small);
}
.smallHeight {
  height: var(--control-size-small);

  font-size: 0.6rem;
}
.smallHeight .inner {
  text-shadow: 0 1px 0 #000;
}

.defaultWidth {
  width: var(--control-size-default);
}
.defaultHeight {
  height: var(--control-size-default);
}
.largeWidth {
  width: var(--control-size-large);
}
.largeHeight {
  height: var(--control-size-large);
}
.hugeWidth {
  width: var(--control-size-huge);
}
.hugeHeight {
  height: var(--control-size-huge);
  padding: 0.5rem;
  font-size: 1rem;
}

.button:disabled {
  filter: grayscale(1) brightness(70%);
  opacity: 50%;
}

.pressed .inner {
  box-sizing: border-box;
  height: 100%;
  border-bottom: 1px solid color-mix(in hsl, var(--color) 40%, white);

  border-top: 2px solid color-mix(in hsl, var(--color) 70%, black);
  background: linear-gradient(
    180deg,
    #00000013 0%,
    #00000023 53%,
    #00000023 73%,
    #00000043 100%
  );
  padding-left: 2px;
}

.pressed .inner::before {
  background-color: transparent;
}
