.button {
  margin: 1rem;
  padding: 0;
  display: inline-block;
  border: none;
  background: transparent;
}

button:active .outer {
  scale: 0.9;
  filter: brightness(130%);
}

.outer {
  padding: 1px 0 0 0;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 0 #000;
  border: 1px solid black;
  height: 100%;
  background-color: var(--color);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.inner {
  border-radius: 5px;
  border-top: 1px solid color-mix(in hsl, var(--color) 40%, white);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid color-mix(in hsl, var(--color) 70%, black);
  background: linear-gradient(
    180deg,
    color-mix(in hsl, var(--color) 90%, black),
    color-mix(in hsl, var(--color) 95%, black) 10%,
    color-mix(in hsl shorter hue, var(--color) 95%, white) 30%,
    color-mix(in hsl shorter hue, var(--color) 30%, white) 53%,
    transparent 50%
  );
}

.square {
  width: 5rem;
  aspect-ratio: 1;
}

.button:disabled {
  filter: grayscale(1) brightness(70%);
}
