.layer {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  overflow: hidden;
}
.layer::before {
  display: block;
  position: absolute;
  content: "";
  background: linear-gradient(
    45deg,
    #333,
    #333 50%,
    #3334 55%,
    #3330 60%,
    #3330 100%
  );
  width: 100vmax;
  height: 200vmax;
  translate: 0 -80vmax;
  transition: translate 1800ms ease-in-out;
}
.layer::after {
  display: block;
  position: absolute;
  content: "";
  background: linear-gradient(
    45deg,
    #3330,
    #3330 50%,
    #3334 55%,
    #333 60%,
    #333 100%
  );
  width: 100vmax;
  height: 100vmax;

  transition: translate 1800ms ease-in-out;
}

.open::before {
  translate: 0 100vmax;
}
.open::after {
  translate: 0 -100vmax;
}
.clickThrough {
  pointer-events: none;
}
