.destruction {
  pointer-events: none;
  background-color: #0006;
  padding: 0.5em;
  border-radius: 1em;
}

.destruction p {
  margin: 0;
  font-family: "Sriracha", cursive;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.6rem;

  color: white;
  text-shadow: 0 2px 0 #000;
}

.star {
  color: #0005;
  font-size: 1.2em;
  display: inline-block;
  line-height: 0.8em;
}
.star.starCollected {
  color: white;
  text-shadow: 0 2px 0 #000;
  transform: translate(-40vw, -50vh) scale(6);
}
.star.starCollected.first {
  animation: 500ms setStar 300ms ease-out forwards;
}
.star.starCollected.second {
  animation: 500ms setStar 600ms ease-out forwards;
}
.star.starCollected.third {
  animation: 500ms setStar 900ms ease-out forwards;
}
.destruction output {
  line-height: 0.8em;
  padding-left: 0.5em;
  font-family: "Sriracha", cursive;
  font-weight: bold;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 0 #000;
  font-size: 1.2rem;
  width: 4ch;
  text-align: right;
  display: inline-block;
}

@keyframes setStar {
  0% {
    transform: translate(-30dvw, -20dvh) scale(6);
  }
  100% {
    transform: translate(0vw, 0vh) scale(1);
  }
}
