.dimmer {
  background-color: #0006;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  animation: fadeIn 200ms ease-out;
}
.close {
  animation: fadeOut 200ms ease-out forwards;
}

.dialog {
  background-color: #444;
  padding: 2px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  animation: popIn 150ms ease-out;
  box-shadow: 0 3px 0 #0003;
}
.close .dialog {
  animation: popOut 150ms ease-out forwards;
}

.dialogHeader {
  padding: 0 0.25rem;
  min-width: 10rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.25rem;
  align-items: center;
  position: relative;
  min-height: calc(var(--control-size-small) + 0.25rem);
}

.dialogHeader::before {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background-color: #fff2;
  height: 50%;
  border-radius: 0.5rem;
  pointer-events: none;
}

.dialogBody {
  background-color: lightgray;
  padding: 0.25rem;
  border-radius: 0.5rem;
  flex: 1 1 auto;

  overflow-y: auto;
  overscroll-behavior-y: "contain";
}

@keyframes fadeIn {
  0% {
    background-color: #0000;
  }
  100% {
    background-color: #0006;
  }
}

@keyframes fadeOut {
  100% {
    background-color: #0000;
  }
  0% {
    background-color: #0006;
  }
}

@keyframes popIn {
  0% {
    opacity: 0%;
    scale: 0.9;
  }
  40% {
    opacity: 100%;
    scale: 1.05;
  }
  100% {
    opacity: 100%;
    scale: 1;
  }
}

@keyframes popOut {
  100% {
    opacity: 0%;
    scale: 0.9;
  }
  60% {
    opacity: 100%;
    scale: 1.05;
  }
  0% {
    opacity: 100%;
    scale: 1;
  }
}
