.dimmer {
  background-color: #00000044;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  background-color: #444;
  padding: 2px;
  border-radius: 0.5rem;
}

.dialogHeader {
  padding: 0 0.25rem;
  min-width: 10rem;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 0.25rem;
  align-items: center;
  position: relative;
  min-height: 1.5rem;
}

.dialogHeader::before {
  content: "";
  display: block;
  position: absolute;
  inset: 2px;
  background-color: #fff2;
  height: 50%;
  border-radius: 0.5rem;
}

.dialogBody {
  background-color: lightgray;
  padding: 0.25rem;
  border-radius: 0.5rem;
}
