.inset {
  flex: 1 1 auto;
  border-left: 1px solid #777;
  border-right: 1px solid #fff9;
  border-top: 1px solid #777;
  border-bottom: 1px solid #fff9;
  border-radius: 5px;
  background-color: #0001;
}
.inline {
  padding: 0 0.25rem;
  line-height: 1.2em;
  display: inline-block;
}
