.text {
  font-family: "Sriracha", cursive;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1rem;

  color: var(--text-color, white);
}

h1.text,
h2.text {
  margin: 0;
}
h3.text,
h4.text {
  margin-bottom: 0;
}

.outline {
  text-shadow: 0 2px 0 #000, 0 0 2px #0009;
}

.small {
  font-size: 0.6rem;
  line-height: 1rem;
  text-shadow: 0 1px 0 #000, 0 0 1px #0009;
}

.large {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.centered {
  text-align: center;
}
