@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

html,
body {
  background-color: white;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
