@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

html,
body {
  background-color: white;
}

:root {
  --control-size-small: 1.25rem;
  --control-size-default: 3rem;
  --control-size-large: 3.75rem;
  --control-size-huge: 8rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow: hidden;
  user-select: none;
}
